*.py[cod]
.ipynb_checkpoints
env

.vscode/
__pycache__/
*.log
debug*
results/
checkpoints/
pretain_data/
*.so

tf_eva
tf_eva_encoder
torch_eva
torch_eva_encoder
onnx_eva
onnx_eva_encoder
onnx_eva_decoder
onnx_eva_q
